:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --darkiris: #404bbf;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate);
    letter-spacing: 0.32px;
    margin: 0;
    background-color: var(--white);
}

address {
    text-decoration: none;
    font-style: normal;
}

.list,
nav ul,
address ul {
    list-style: none;
    margin: 0;
}

.link,
.logo,
.logo-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    margin-right: 76px;
    color: var(--iris);
}

.address-link,
.menu {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.address-link {
    color: var(--slate);
}

.address-link:hover,
.address-link:focus,
.menu:hover,
.menu:focus {
    color: var(--darkiris);
}

header a,
.menu {
    color: var(--navyblue);
    text-decoration: none;
    font-weight: 500;
}

header a:visited,
header a:hover {
    color: var(--navyblue);
}

.portfolio-header,
.header-benefits,
.team-header,
.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.portfolio-p,
.pbenefits,
.pteam,
.pfooter {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.button,
.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus,
.hero-button:hover,
.hero-button:focus {
    background: var(--darkiris);
    color: var(--white);
}

footer {
    background: var(--navyblue);
    color: var(--cloud);
}

footer a,
footer p {
    text-decoration: none;
    color: var(--cloud);
}

footer p {
    margin-top: 16px;
    margin-bottom: 0;
}

.hero {
    background-color: var(--navyblue);
}

.hero-header {
    text-align: center;
    line-height: 1.07em;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: var(--white);
}

.header-proposal {
    margin-bottom: 8px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


.logo-header {
    color: var(--navyblue)
}