:root {
    --white: #FFFFFF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --darkiris: #404bbf;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    letter-spacing: 0.32px;
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    vertical-align: middle;
    padding: 0 156px;
}
address {
    text-decoration: none;
    font-style: normal;
}
nav {
    font-weight: 500;
}
.list {
    list-style: none;
}
.link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: var(--iris);
    text-decoration: none;
}


nav ul,
address ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-weight: 400;
}
.address-link:hover,
.address-link:focus {
    color: var(--darkiris);
}
header a {
    color: var(--navyblue);
    text-decoration: none;
}


.menu {
    color: var(--navyblue);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.menu:hover,
.menu:focus {
    color: var(--darkiris);
}


header a:visited,
header a:hover {
    color: var(--navyblue);
}
#cards {
    margin: 72px 156px 0 156px;
}
main h2 {
    font-size: 1.4em;
    font-weight: 500;
    padding-top: 32px;
    line-height: 1.6em;
    letter-spacing: 0.4px;
}

main .card p {
    padding-bottom: 32px;
    color: var(--slate);
}

#filter {
    margin: 72px 156px 0 156px;
}

#filter ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#filter ul li {
    margin: 0 12px;
}

#filter ul li button {
    color: var(--iris);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

#filter ul li button.active {
    background: var(--iris);
    color: var(--white);
}

.block {
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 100px 156px 100px;
    background: var(--navyblue);
    color: var(--cloud);
}

footer a,
footer p {
    text-decoration: none;
    color: var(--cloud);
}

footer p {
    margin-top: 16px;
    margin-bottom: 0;
    width: 264px;
}
.hero {
    background-color: var(--navyblue);
}
.hero-header {
    text-align: center;
    padding: 188px;
    line-height: 1.07em;
}
h1 {
    width: 496px;
    margin: auto;
    text-align: center;
    color: var(--white);
    font-size: 3.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
}
#hero button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-flex;
    padding: 16px 32px;
    border: 1px solid var(--iris);
    border-radius: 4px;
    background: var(--iris);
    color: var(--white);
    margin-top: 48px;
    cursor: pointer;
}
#hero button:hover,
#hero button:focus {
    background-color: #404BBF;
}
#benefits,
#proposal {
    margin: 120px 156px;
}
#benefits ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 24px;
}
#benefits ul h2 {
    margin-bottom: 8px;
}
.h3benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.pbenefits {
    line-height: 1.5;
}
.h2proposal,
#team h2 {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
#proposal ul,
#team ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 24px;
}
#team {
    padding: 120px 156px;
    background: var(--cloud);
}
#team li {
    background: var(--white);
    text-align: center;
    color: var(--slate);
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 32px;
}
.h2team {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.h3team {
    color: var(--navyblue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.pfooter {
    line-height: 1.5;
}
.logo-footer {
    color: #f4f4fd;
}
.pteam {
    font-size: 16px;
}
.logo-header {
    color: var(--navyblue)
}